@import 'bootstrap';

body {
    background-color: #f5f5f5 !important;
    font-family: Avenir Next, Helvetica Neue, Helvetica, Arial, sans-serif !important;
}

a {
    font-family: 'Open Sans', sans-serif;
    color: #7069bc !important;
    font-size: 13px;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

h2 {
    font-family: 'Open Sans', sans-serif !important;
    color: #7069bc !important;
}

.offcanvas {
    background-color: #f5f5f5 !important;
    width: 40% !important;
}

input {
    background-color: #f5f5f5 !important;
    width: 50% !important;
}

label {
    font-size: 14px;
}

.navbar {

    background-color: #f5f5f5;
}

.navbar-brand {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    position: sticky;
    align-items: center;
    display: flex;
    text-decoration: none;

}


.btn {
    color: none;
}

.custom-purple-link {
    background-color: #7069bc !important;
    font-size: 14px;
    color: #f5f5f5 !important;
}

.custom-purple-button {
    background-color: #7069bc !important;
    font-size: 14px;
    color: #f5f5f5 !important;
    /* Cambia il colore del testo, se necessario */
    border-color: #7069bc;
    /* Cambia il colore del bordo, se necessario */
}


/* Stile della casella di controllo */
.form-check-input[type="checkbox"] {
    background-color: #7069bc;
    border-color: #7069bc;
    justify-content: space-between !important;
}

/* Stile della casella di controllo selezionata (con il segno di spunta) */
.form-check-input[type="checkbox"]:checked {
    background-color: #7069bc !important;
    border-color: #7069bc;
    justify-content: space-between !important;
    width: 20px !important;
    /* Imposta la larghezza desiderata */

}

/* Stile del testo della label */
.form-check-label {
    color: #7069bc;
}

.form-outline {
    width: 100%;
}

.btn-outline-primary {
    border-color: #7069bc !important;
    ;
    color: #7069bc !important;
    width: 100%;
    position: absolute(start)
}

.btn-outline-primary:hover {
    background-color: #7069bc !important;
    color: #f5f5f5 !important;

}

.form-label {
    border-color: #7069bc !important;
    ;
    color: #7069bc !important;
}

/* Stile per il campo "Titolo" */
#title {
    background-color: #fff !important;
    width: 100% !important;
}

/* Stile per il campo "Descrizione" */
#description {
    background-color: #fff !important;
    width: 100%;
}

/* Stile per il campo "Prezzo" */
#price {
    background-color: #fff !important;
    width: 50% !important;
}

/* Stile per il campo "Scegli Categoria" */
#category {
    background-color: #fff !important;
    width: 50% !important;
}


/* Stile per le card */
.card {
    width: 200px;
    transition: transform 0.2s;
}

/* Stile per il testo sulla card */
.card-text {
    display: none;
    font-family: 'Open Sans', sans-serif !important;
    background-color: #7069bc;
    /* Colore con trasparenza */
    color: #fff;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* Copre l'intera immagine */
    z-index: 1;
}

/* Stile per il contenitore delle card */
.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Effetto hover */
.card:hover {
    transform: scale(1.05);
}

/* Effetto hover - mostra il testo */
.card:hover .card-text {
    display: block;
}

/* Stile per le frecce per scorrere le card */
.arrow {
    cursor: pointer;
}

.container {
    flex-direction: column;
    align-items: flex-start;
}

.immagine img {
    border-radius: 7px;
    display: flex;
    width: 30%;
    float: right;
    margin-top: -430px !important;
    margin-right: 110px !important;
}


@media (max-width: 768px) {
    .immagine {
        display: none;
    }

    .offcanvas {
        width: 100% !important;
    }
}

/* Stile per l'input "Email or username" nel form di login */
#pills-login #loginName {
    background-color: #fff !important;
    justify-content: center !important;
    width: 100% !important;
    margin-top: 50px !important;
}

/* Stile per l'input "Password" nel form di login */
#pills-login #loginPassword {
    background-color: #fff !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100% !important;
    ;
}


/* Stile per l'input "Username" nel form di registrazione */
#pills-register #registerUsername {
    background-color: #fff !important;
    margin-top: 50px !important;
}

/* Stile per l'input "Email" nel form di registrazione */
#pills-register #registerEmail {
    background-color: #fff !important;
}

/* Stile per l'input "Password" nel form di registrazione */
#pills-register #registerPassword {
    background-color: #fff !important;
}

/* Stile per l'input "Repeat password" nel form di registrazione */
#pills-register #registerRepeatPassword {
    background-color: #fff !important;
}



/* Stile per footer*/
footer {
    background-color: #7069bc;
    height: auto;
}

.title-footer {
    color: #f5f5f5 !important;
    font-weight: bold;
    font-size: 20px;
}

.list-footer {
    list-style-type: none;
}

.link-footer {
    color: #f5f5f5 !important;
    font-size: 14px;
    text-decoration: none;
}

.link-footer:hover {
    text-decoration: underline !important;
}

.list-icon-footer {
    list-style-type: none;
}

.container-footer-two {
    background-color: #7069bc;
}

.icon-footer:hover {
    opacity: 0.5;
    cursor: pointer;
}

.btn-login-canvas {
    background-color: #7069bc;
    color: #f5f5f5;
    height: 50px;
    width: 100%;
}

.btn-login-canvas:hover {
    background-color: #7069bc;
    color: #f5f5f5;
    width: 100%;
    opacity: 0.8;
}

.btn-register-canvas {
    background-color: #f5f5f5;
    width: 100%;
    height: 50px;
    border: 1px solid #7069bc;
}

.btn-register-canvas:hover {
    background-color: #7069bc;
    width: 100%;
    color: #f5f5f5;
    border: 1px solid #7069bc;
}

.title-login-canvas {
    font-weight: bold;
    font-size: 30px;
}

.input-email-password-canvas {
    width: 100% !important;
}

.btn-logout {
    background-color: #7069bc;
    color: #f5f5f5 !important;
    width: auto;
    height: auto;
}

.btn-logout:hover {
    background-color: #7069bc;
    color: #f5f5f5 !important;

}

.messaggio {
    color: #f5f5f5;
    font-size: 14px;
    font-weight: bold;
}

.dropdown {
    margin-right: 80px;
}

.dropdown:hover .btn-logout {
    background-color: #7069bc !important;
    color: #f5f5f5 !important;
}

.dropdown-menu:hover .btn-logout {
    background-color: #7069bc !important;
    color: #f5f5f5 !important;
}


.title-logout {
    font-size: 16px;
}

.btn-inserisci-annuncio {
    width: 140px;
    height: auto;
    font-size: 14px;
}

.img-register {
    width: 90%;
    height: 620px;
    border-radius: 14px;
}

.input-register {
    width: 80% !important;
    height: 40px;
    background-color: white !important;
}

.btn-register {
    width: 100% !important;
    height: 35px;
    background-color: #7069bc;
    font-size: 16px;
    font-weight: bold;
}

.btn-register:hover {
    opacity: 0.8;
}

.title-register {
    font-size: 60px;
    font-weight: bold;
}

.paragraf-register {
    font-size: 18px;
}



html,
body {
    height: 100%;
}

.container {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -100px;
}

.footer,
.push {
    height: 100px;
}

.list-category-nav {
    list-style-type: none;
}

.nav-two-show-category {
    width: 100%;
    position: sticky;
    top: 0px;
    background-color: #f5f5f5;
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.1) !important;
    z-index: 3;
}

.link-navbar-two {
    text-decoration: none;
    color: black !important;
    font-size: 14px;
    font-weight: bold !important;
    transition: 1s;
}

.link-navbar-two:hover {
    color: #7069bc !important;
}

.img-card {
    width: 100%;
    object-fit: cover;
    height: 360px;
    object-fit: cover;
}

.title-card {
    font-size: 16px;
    font-weight: bold !important;
    color: black;
}

.price-card {
    font-size: 12px;
    font-weight: bold !important;
    color: black;
}

.title-user-card {
    font-size: 12px;
    font-weight: bold !important;
    color: black;
}

.link-card {
    text-decoration: none;
    color: black !important;
}

.containerCard {
    transition: transform .2s;
}

.containerCard:hover {
    transform: scale(1.04);

}

.container-button-grid {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 92%;
    width: 100%;
}

.button-grid {
    position: relative;
    display: flex;
    justify-content: center;
}

.gridCard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

}

.btn-grid-animation {
    background-color: #444444;
    color: #f5f5f5;
    border: none;
    border-radius: 8px 0px 0px 8px;
    width: 40px;
}

.btn-grid-animationtwo {
    background-color: #444444;
    color: #f5f5f5;
    border: none;
    border-radius: 0px 8px 8px 0px;
    width: 40px;
}

.img-show {
    width: 100%;
    height: 681px;
    border: 1px solid transparent;
    transform-origin: center center;
    transform-origin: 20px 20px;
    cursor: pointer;
    transform: scale(1);
    box-sizing: border-box;
    object-fit: cover;
    cursor: zoom-in;
}

.cic {
    box-sizing: border-box !important;
    object-fit: cover !important;
    overflow: hidden !important;
    width: 100% !important;
    height: 681px !important;
}

.img-piccole-show {
    width: 100% !important;
    height: 160px;
    border: 1px solid black;
    cursor: pointer;
}

.title-show {
    font-size: 50px;
    font-weight: bold;
    color: black !important;
}

.price-show {
    font-size: 15px;
    font-weight: bold;
    color: black;
}

.description-show {
    font-size: 15px;
    font-weight: bold;
    color: black;
}

.img-pubblicataDa {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #7069bc;
}

.title-category {
    font-size: 20px;
    color: black;
    font-weight: bold;
}



.container-usabilità {
    position: fixed;
    top: 92%;
    right: 1%;
    cursor: pointer;
}

.container-accessibilità {
    width: 20%;
    height: 300px;
    background-color: white;
    border-radius: 10px;
    position: fixed;
    top: 53%;
    right: 1%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: none;
}

.btn-dark-light {
    width: 120px;
    height: auto;
    padding: 10px;
    border-radius: 7px;
    border: none;
    background-color: #f5f5f5;
}

.paragraf-icon-dark-light {
    font-weight: bold;
}

.closeIcon {
    cursor: pointer !important;
    z-index: 1;
}

.closeIcon:hover {
    opacity: 0.5;
}

.iconAc {
    color: red;
}

.accordion-button {
    background-color: #7069bc !important;
    border-radius: 7px !important;
    color: #f5f5f5 !important;
}

.accordion-item {
    border-radius: 7px !important;
}

.input-search {
    width: 750px !important;
    background-color: white !important;
    margin: 0px !important;
    border-radius: 8px;
    height: 44px;

}

.input-register:focus {
    outline: none !important;
}

.btn-search {
    width: 50px;
    border-radius: 0px 8px 8px 0px;
    height: 44px;
    border: none !important;
    background-color: #7069bc;
}

.btn-search:hover {
    background-color: #7069bc;
}

.img-show-small-xxxl {
    width: 100%;
    height: 86vh;
    object-fit: cover;
}

.container-show-xxxl {
    width: 96% !important;
    height: 96vh;
    z-index: 999;
    position: fixed;
    top: 2%;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.icon-close-container-xxxl {
    cursor: pointer;
}

.img-piccole-show-xxxl {
    width: 100%;
    height: 80px;
    cursor: pointer;
}

.panel-show-xxxl {
    display: none;
}

.title-prodotti-correlati {
    font-weight: bold;
}

.container-slider-img-show {
    background-color: #d4d4d4;
}

.carousel-control-prev {
    margin: 0px !important;
}

.panel-show-xxxl {
    display: none;
}

.revisore {
    margin-right: 15px;
    white-space: nowrap;
    height: 34px;
    text-align: center;
    line-height: 25px;
}

.rendi {
    width: 225px;
}



/* Stili per il carosello */
.carousel-container {
    display: flex;
    overflow: hidden;
    width: 100%;
}

.carousel {
    display: flex;
    transition: transform 0.5s;
}

.carousel-item {
    flex: 0 0 100%;
    /* Ogni elemento occupa l'intera larghezza */
    min-width: 100%;
    /* Evita che gli elementi si accavallino */
}


.h1-carousel-category {
    margin-left: 340px;
}

@media screen and (max-width: 750px) {
    .h1-carousel-category {
        margin-left: 42px;
    }


}